@import "../../assets/styles/variables/colors.scss";

.button {
  border: 2px solid $primary;
  width: 264px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  border-radius: 12px;
  cursor: pointer;

  &.primary {
    background-color: $primary;
    color: $lightest;
  }

  &.light {
    background-color: $lightest;
    color: $primary;
  }
}

@media (max-width: 900px) {
  .button {
    width: 100%;
  }
}
