@import "../../assets/styles/variables/colors.scss";

.card {
  border: 2px solid $darkGray;
  padding: 20px;
  background-color: $lightest;
  border-radius: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

@media (max-width: 900px) {
  .card {
    border: none;
    padding: initial;
    background-color: initial;
    flex-direction: column;
    justify-content: flex-start;
    height: 200px;
  }
}
